body {
    font-family: Helvetica, Arial, sansserif;
}

.small-iframe {
    width: 20rem;
    height: 20rem;
    overflow: auto;
}

.medium-iframe {
    width: 40rem;
    height: 40rem;
    overflow: auto;
}

.large-iframe {
    width: 60rem;
    height: 60rem;
    overflow: auto;
}